header {
    padding: 1em 1em 0em 1em;
    width: 100%;
    background: url("../multimedia/fondocuevajonas2.jpg");
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: darkslategrey;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
section img {
    margin: 1em;
    position: relative;
    width: 285px;
    height: 230px;
}
section p {
    margin: 0.5em 2em 2em 2em;
    position: relative;
}
article {
    margin:0.5em;
    position: relative;
}
body{
    padding: 2em;
}
html {
    background: url("../multimedia/background.jpg");
}
