section img {
    position: relative;
    float:right;
    width: 285px;
    height: 230px;
}
section p {
    margin: 0.5em 2em 2em 2em;
    position: relative;
}
article {
    margin:0.5em;
    position: relative;
    float: right;
}